/* =================================================== */
/* = Common elements: headings, paragraphs and lines = */
/* =================================================== */

.h2
{
	font-size: 2em;
	margin: 0;
	margin-top: 1.5em;
	font-weight: bold;
	line-height: 1.5em;
}

.h3
{
    text-align:left;
    font-size: 1.5em;
    margin-top: 1.5em;
    font-weight: normal;
    line-height: 1.5em;
}

.h4
{
	font-size: 1em;
    margin: 0;
    margin-top: 1em;
	line-height: 1.5em;
}

.paragraph
{
    margin: 0;
}

.paragraph + .paragraph
{
    text-indent: 1.5em;
}


/* ======================== */
/* = Footnotes and themes = */
/* ======================== */

.annotation-anchor
{
	font-style: normal;
	font-weight: normal;
	font-size: 0.875em;
	display: block;
	float: left;
	width: 2.5em;
	clear: both;
}

.annotation
{
    margin: 0;
    margin-top: 1.5em;
}

.annotation-body
{
	margin-left: 2.5em;
	font-size: 0.875em;
}

.block
{
	font-size: 0.875em;
	padding: 1em;
}

/* ============= */
/* = Numbering = */
/* ============= */

.anchor sup
{
	vertical-align: text-top;
	font-size: 0.7em;
}

/* =================== */
/* = Custom elements = */
/* =================== */

.title-page
{
    margin-top: 1.5em;
}

.title
{
    font-size: 3em;
    text-align: center;
    line-height: 1.5em;
    font-weight: bold;
}

.author
{
    margin: 0;
    text-align: center;
    font-weight: bold;

    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 0.25em;
}

.intitle
{
    margin: 0;
    text-align: center;
    font-weight: bold;

    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 0.25em;
}

.insubtitle
{
    margin: 0;
    text-align: center;
    font-weight: bold;

    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 0.25em;
}

.collection
{
    margin: 0;
    text-align: center;
    font-weight: bold;

	font-size: 1.125em;
	line-height: 1.5em;
	margin-bottom: -0.25em;
}

.subtitle
{
    margin: 0;
    text-align: center;
    font-weight: bold;

	font-size: 1.5em;
	line-height: 1.5em;
	margin-top: -0.25em;
}

div.didaskalia
{
	font-style: italic;
	margin-top: 0.5em;
	margin-left: 1.5em;
}

div.kwestia
{
	margin-top: 0.5em;
}

.stanza
{
    margin-bottom: 1em;
}

.stanza-spacer
{
    display: none;
}

.motto
{
	text-align: justify;
	font-style: italic;
	margin-top: 1.5em;
}

.motto_podpis
{
	font-size: 0.875em;
	text-align: right;
}

div.fragment
{
	border-bottom: 0.1em solid #999;
	padding-bottom: 1.5em;
}

div.note
{
	text-align: right;
	font-style: italic;
}
div.note div.paragraph
{
    text-align: right;
    font-style: italic;
}
div.dedication
{
    text-align: right;
    font-style: italic;
}
div.dedication div.paragaph
{
    text-align: right;
    font-style: italic;
}


hr.spacer
{
	height: 3em;
	visibility: hidden;
}

hr.spacer-line
{
	margin: 0;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	border: none;
	border-bottom: 0.1em solid #000;
}

.spacer-asterisk
{
	padding: 0;
    margin: 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
	text-align: center;
}

div.person-list ol
{
	list-style: none;
	padding: 0;
	padding-left: 1.5em;
}

.place-and-time
{
	font-style: italic;
}

em.math
{
	font-style: italic;
}
em.foreign-word
{
    font-style: italic;
}
em.book-title
{
    font-style: italic;
}
em.didaskalia
{
    font-style: italic;
}

em.author-emphasis
{
	letter-spacing: 0.1em;
}

.person-list em.person
{
	font-style: normal;
	text-transform: uppercase;
}

.info
{
	text-align: center;
	margin-bottom: 1em;
}
.info div
{
    text-align: center;
}

.info img
{
	margin: 0;
	margin-left: 2em;
	margin-right: 2em;
}

p.minor {
    font-size: 0.75em;
}
p.footer {
    margin-top: 2em;
}
