<?xml version="1.0" encoding="utf-8"?>
<!--

   This file is part of Librarian, licensed under GNU Affero GPLv3 or later.
   Copyright © Fundacja Nowoczesna Polska. See NOTICE for more information.

-->
<config>
    <types>
    <structure element="div">
        <!-- tagi głowne -->
        <utwor />
        <opowiadanie />
        <liryka_l />
        <liryka_lp />
        <powiesc />
        <dramat_wierszowany_l />
        <dramat_wierszowany_lp />
        <dramat_wspolczesny />
    </structure>

    <block element="div" mixed="true" >
        <!-- inne tagi -->
        <nota />
        <dedykacja />
        <kwestia />
        <motto />
        <didaskalia />
        <ramka />
    </block>

    <inline-elements element="span" mixed="true">
        <!-- with emphasis -->
        <mat />
        <didask_tekst />
        <slowo_obce />
        <wyroznienie />
        <osoba />
        <tytul_dziela />
    </inline-elements>

    <paragraph-elements element="p" mixed="true">
        <!-- akapity -->
        <akap />
        <akap_cd />
        <akap_dialog />
        <miejsce_czas />
        <motto_podpis />
        <wers_cd />
        <wers_akap />
        <wers_wciety />
    </paragraph-elements>

    <header-1-elements element="h1" mixed="true">
        <!-- placeholder -->
        <dzielo_nadrzedne />
    </header-1-elements>

    <header-2-elements element="h2" mixed="true">
        <naglowek_akt />
        <naglowek_czesc />
        <autor_utworu />
        <nazwa_utworu />
        <srodtytul />
    </header-2-elements>

    <header-3-elements element="h3" mixed="true">
        <naglowek_scena />
        <naglowek_rozdzial />
        <podtytul />
    </header-3-elements>

    <header-4-elements element="h4" mixed="true">
        <naglowek_osoba />
        <naglowek_podrozdzial />
    </header-4-elements>

    <special-tags>
        <strofa />
        <lista_osob />
        <lista_osoba />
        <sekcja_swiatlo />
        <sekcja_asterysk />
        <separator_linia />
        <zastepnik_wersu />
        <dlugi_cytat />
    </special-tags>

    <annotations>
        <pa />
        <pe />
        <pr />
        <pt />
    </annotations>

    <no-show-elements>
        <begin />
        <end />
        <extra />
        <uwaga />
        <motyw />
        <br />
        <pa />
        <pe />
        <pr />
        <pt />
    </no-show-elements>
    </types>

    <editable>
        <strofa />
        <akap />
        <akap_cd />
        <akap_dialog />
        <dzielo_nadrzedne />

        <naglowek_akt />
        <naglowek_czesc />
        <autor_utworu />
        <nazwa_utworu />
        <srodtytul />

        <naglowek_scena />
        <naglowek_rozdzial />
        <podtytul />

        <naglowek_osoba />
        <naglowek_podrozdzial />

        <lista_osoba />

        <dlugi_cytat />
        <poezja_cyt />

        <ramka />

        <didaskalia />
    </editable>
</config>
